<div class="row cart-calc">
  <div class="col-12 col-sm-6 col-md-4 col-xl-12">
    <ul class="cart-orders">
      {% for product, count, price in products_info %}
        <li class="cart-orders-item">
          <span class="cart-orders-item__name">{{ forloop.counter }}. {{ product }}</span>
          <div class="cart-orders-item__count">
          <div class="number-input">
            <button type="button" class="quantity-down"></button>
            <input class="quantity" min="0" name="quantity" value="{{ count }}" type="number" data-id="{{ product.pk }}">
            <button type="button" class="quantity-up plus"></button>
          </div>
          <span class="cart-orders-item__price">{{ price|floatformat:0 }}&nbsp;р</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row cart-calc">
  <div class="col-12">
    <div class="cart-total">
      <div class="cart-total__total">
        <!--<span>Итого:</span>-->
        <!--&nbsp;--><b>{{ products_info|length }} блюда</b>&nbsp;
        <small><b>{{ full_weight }} гр.</b></small>
      </div>
      <div class="cart-total__pay"><span>К оплате:</span>&nbsp;<b>{{ full_sum|floatformat:0 }} &#8381;</b></div>
    </div>
  </div>
</div>