<nav id="menu">{% load static %}
  <div>
    <div class="cart">
      <div class="cart__header">
        <button class="cart__close"><i class="fas fa-times"></i></button>
        <div class="cart__shop-cart active{% if products_info %} not-empty{% endif %}"><img src="{% static 'img/shopping-cart-black.svg' %}" alt="Shopping cart black"></div>Ваш заказ:
      </div>
      <div class="cart__content">
        <div class="cart__body">
          <form class="cart-form" action="{% url 'order' %}" id="order" method="post">{% csrf_token %}
            <input type="hidden" name="url" value="{{ request.path }}">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% include 'new/_cart_products.html' %}
            <div class="row">
              <div class="col-sm-6 col-md-4 col-xl-12 order-sm-2 order-md-2 order-xl-1">
                <div class="cart-delivery-methods cart-item">
                  <h6 class="cart-item__title">Способ доставки:</h6>
                  <div class="cart-form-grid">
                    <div class="cart-form-group">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio-pickup" name="{{ form.delivery.html_name }}" value="1" class="custom-control-input" checked>
                        <label class="custom-control-label" for="radio-pickup">Самовывоз</label>
                      </div>
                    </div>
                    <div class="pickup">
                      {% for point in form.pikup_point.field.queryset.all %}
                      <div class="cart-form-group">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="radio-item-pickup-{{ point.pk }}" name="{{ form.pikup_point.html_name }}" value="{{ point.pk }}" class="custom-control-input"{% if forloop.counter == 1 %} checked{% endif %}>
                          <label class="custom-control-label" for="radio-item-pickup-{{ point.pk }}">{{ point }}</label>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="cart-form-group">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-express-delivery" name="{{ form.delivery.html_name }}" value="2" class="custom-control-input">
                      <label class="custom-control-label" for="radio-express-delivery">Курьерская доставка</label>
                    </div>
                    </div>
                    <div class="express-delivery">
                      <div class="cart-form-group">
                        <input class="cart-form-control" name="street" placeholder="Улица:">
                      </div>
                      <div class="cart-form-group">
                        <input class="cart-form-control" name="apartment" placeholder="Дом:">
                      </div>
                      <div class="cart-form-group">
                        <input class="cart-form-control" name="house" placeholder="Квартира:">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-contacts cart-item">
                  <h6 class="cart-item__title">Контакты для связи:</h6>
                  <div class="cart-form-grid">
                    <div class="cart-form-group">
                    <input class="cart-form-control" name="name" placeholder="Имя:" required>
                    </div>
                    <div class="cart-form-group">
                    <input id="cart-phone" class="cart-form-control" name="phone" placeholder="Телефон:" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-12 order-sm-1 order-md-1 order-xl-2">
                <div class="cart-pay cart-item">
                  <h6 class="cart-item__title">Способы оплаты:</h6>
                  <div class="cart-form-grid">
                    <div class="cart-form-group">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-in-cash" name="{{ form.payment.html_name }}" value="1" class="custom-control-input" checked>
                      <label class="custom-control-label" for="radio-in-cash"><img src="{% static 'img/purse.png' %}" alt="Наличными">Наличными</label>
                    </div>
                    </div>
                    <div class="cash">
                    <div class="cart-form-group">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio-cash" name="cash" value="no-change" class="custom-control-input" checked>
                        <label class="custom-control-label" for="radio-cash">Без сдачи</label>
                      </div>
                    </div>
                    <div class="cart-form-group">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio-with-change" name="cash" value="with-change" class="custom-control-input">
                        <label class="custom-control-label" for="radio-with-change">Со сдачей, с суммы</label>
                      </div>
                    </div>
                    <div class="cart-form-group">
                      <input class="cart-form-control" name="money" id="id_money">
                    </div>
                    </div>
                    <div class="cart-form-group">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio-credit-card" name="{{ form.payment.html_name }}" value="2" class="custom-control-input">
                      <label class="custom-control-label" for="radio-credit-card"><img src="{% static 'img/card.png' %}" alt="Картой курьеру">Картой курьеру</label>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-xl-12 order-sm-3 order-md-3 order-xl-3">
                <div class="cart-appliances cart-item">
                  <h6 class="cart-item__title">Приборы:</h6>
                  <div class="cart-form-grid">
                    <div class="cart-form-group">
                    <input class="cart-form-control" name="count" placeholder="Укажите кол-во человек" value="1" type="number" required>
                    </div>
                  </div>
                </div>
                <div class="cart-comments cart-item">
                  <h6 class="cart-item__title">Комментарии:</h6>
                  <div class="cart-form-grid">
                    <div class="cart-form-group">
                    <textarea class="cart-form-control" rows="4" name="comment"></textarea>
                    <span class="min-order">Минимальный заказ 500р</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="cart__footer">
          <button type="submit" class="btn cart__btn" form="order">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</nav>