{% extends 'new/base.html' %}

{% load solo_tags static %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <section id="s-about-us-preview" class="s-about-us-preview">
      <div class="about-us-preview__item" style="background-image: url({% static 'img/bg-about-us.jpg' %});">
        <div class="container">
          <div class="about-us-preview__content">
              <img src="{% static 'img/logo.png' %}" alt="Logo" class="about-us-preview__logo">
              <h2 class="about-us-preview__title">{{ config.about_header1 }}</h2>
              <p class="about-us-preview__desc">{{ config.about_header2 }}</p>
          </div>
        </div>
      </div>
  </section>

  <section class="s-about-us">
    <div class="container">
      <div class="s-title">
        <hr>
        <h2>{{ config.about_header3 }}</h2>
        <hr>
      </div>
      {{ config.about_content|safe }}
      <div class="d-flex justify-content-center">
        <a href="{% url 'product_list' %}" class="btn">Перейти в меню</a>
      </div>
    </div>
  </section>

  <a href="#s-about-us-preview" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}