<!DOCTYPE html>{% load static pytils_translit solo_tags meta_tags %}{% get_solo 'newsletter.Config' as config %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <!-- <base href="/"> -->
  {% block meta_tags %}{% include_meta_tags %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
  <!-- Template Basic Images End -->
  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#000">
  <!-- Custom Browsers Color End -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">

</head>

<body class="{% block body_class %}home-page{% endblock %}">
<a href="#s-home" class="arrow-up d-none " rel="m_PageScroll2id"><i class="fas fa-arrow-up"></i></a>
  <div class="wrapper">
    <div class="page">

      <div class="main-content position-relative">
        <a href="#menu" class="cart-toggle-down d-sm-none">
            <span class="cart-toggle-down__icon active{% if products_info %} not-empty{% endif %}"><img src="{% static 'img/shopping-cart-black.svg' %}" alt="Shopping cart"></span>Ваш заказ<span class="cart-toggle-down__close">{{ full_count }}</span>
        </a>
        {% block header %}
          <header id="top-header" class="top-header">
            <div class="container">
              <div class="row">
                <div class="col top-header__content">
                  <div class="dropdown dropdown-top-nav d-xl-none">
                    <button class="top-nav-btn dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item active" href="{% url 'product_list' %}">Меню</a>
                      <a class="dropdown-item" href="{% url 'actions' %}">Акции</a>
                      <a class="dropdown-item" href="{% url 'delivery' %}">Доставка и оплата</a>
                      <a class="dropdown-item" href="{% url 'home' %}#comments">Отзывы</a>
<a class="dropdown-item" href="{% url 'about' %}">О нас</a>        
              <a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a>
                    </div>
                  </div>
                  <nav class="top-nav">
                    <ul class="top-nav-list">
                      <li class="top-nav-item"><a href="{% url 'product_list' %}" class="top-nav-item__link">Меню</a></li>
                      <li class="top-nav-item"><a href="{% url 'actions' %}" class="top-nav-item__link">Акции</a></li>
                      <li class="top-nav-item"><a href="{% url 'delivery' %}" class="top-nav-item__link">Доставка и оплата</a></li>
                      <li class="top-nav-item"><a href="{% url 'home' %}#comments" class="top-nav-item__link">Отзывы</a></li>
<li class="top-nav-item"><a href="{% url 'contacts' %}" class="top-nav-item__link">Контакты</a></li>
                    </ul>
                  </nav>
                  <div class="top-info">
                    <div class="top-info__work">
                      <span>Режим<br>работы:<i class="far fa-clock"></i></span>
                      <span>с 9.00 до 21.00</span>
                    </div>
                    <a href="tel:88001231212" class="btn top-info__btn">
                      <span class="d-none d-sm-block">8 800-123-12-12</span>
                      <img class="d-sm-none" src="{% static 'img/top-phone.png' %}" alt="">
                    </a>
                    <a href="#menu" class="cart-toggle d-none d-sm-flex active{% if products_info %} not-empty{% endif %}">
                        <img src="{% static 'img/shopping-cart-white.svg' %}" alt="Shopping cart">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
        {% endblock %}
        {% block content %}{% endblock %}
      </div>

      {% block footer %}
        <footer class="main-footer main-footer--v2">
          <div class="container">
           
        <div class="row">
          <div class="col">
            <h2 class="footer-photo-title">Киш-Миш post <a href="#">#кишмишми</a></h2>
            <h4 class="footer-photo-sub-title">в фотографиях наших клиентов</h4>
          </div>
        </div>
            
<div class="row">
          <div class="col-xl-auto col-md-auto col-sm-6 col-7">
            <div class="footer-photo">
              <div class="footer-photo-grid">
                <a href="#"><img src="http://areal-it.ru/kish/img/footer-photo/photo_1.jpg" alt="Photo 1"></a>
                <a href="#"><img src="http://areal-it.ru/kish/img/footer-photo/photo_2.jpg" alt="Photo 2"></a>
                <a href="#"><img src="http://areal-it.ru/kish/img/footer-photo/photo_3.jpg" alt="Photo 3"></a>
                <a href="#"><img src="http://areal-it.ru/kish/img/footer-photo/photo_4.jpg" alt="Photo 4"></a>    

              </div>
            </div>
          </div>

		<div class="col-xl-2 col-md-2 col-sm-34 col-5">
              <ul class="footer-nav">
                <li class="footer-nav__item"><a href="{% url 'about' %}" class="footer-nav__link">О нас</a></li>
                <li class="footer-nav__item"><a href="{% url 'actions' %}" class="footer-nav__link">Акции</a></li>
                <li class="footer-nav__item"><a href="{% url 'delivery' %}" class="footer-nav__link">Доставка</a></li>
                <li class="footer-nav__item"><a href="{% url 'home' %}#comments" class="footer-nav__link">Отзывы</a></li>
                <li class="footer-nav__item"><a href="{% url 'contacts' %}" class="footer-nav__link">Контакты</a></li>
              </ul>
            </div>
            <div class="col-xl-auto col-md-2 col-sm-3 d-none d-sm-block">
              <ul class="footer-menu">
                <li class="footer-menu__item">Меню:</li>
                {% for category in categories %}
                  <li class="footer-menu__item"><a href="{% url 'product_list' %}#{{ category.title|translify }}" class="footer-menu__link">{{ category.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-xl-3 col-md-3">
              <span>Служба доставки:</span>
              <a href="tel:{{ config.phone_raw }}" class="btn">{{ config.phone_formatted }}</a>
              <span class="main-footer__work">Режим работы: {{ config.work_time }}</span>
              <ul class="feedback-icons d-md-none">
                <li class="feedback-icons__item"><a href="{{ config.fb }}" class="feedback-icons__link feedback-icons__link--facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="feedback-icons__item"><a href="{{ config.vk }}" class="feedback-icons__link feedback-icons__link--vk"><i class="fab fa-vk"></i></a></li>
                <li class="feedback-icons__item"><a href="{{ config.instagramm }}" class="feedback-icons__link feedback-icons__link--instagram"><i class="fab fa-instagram"></i></a></li>
              </ul>
              <span class="main-footer__copyright">{{ config.copyright|safe }}</span>
            </div>
            <div class="col-xl-2 col-md-2 justify-content-end d-none d-md-flex">
              <ul class="feedback-icons feedback-icons--stack">
                <li class="feedback-icons__item"><a href="{{ config.fb }}" class="feedback-icons__link feedback-icons__link--facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="feedback-icons__item"><a href="{{ config.vk }}" class="feedback-icons__link feedback-icons__link--vk"><i class="fab fa-vk"></i></a></li>
                <li class="feedback-icons__item"><a href="{{ config.instagramm }}" class="feedback-icons__link feedback-icons__link--instagram"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            </div>
          </div>

</div>
        </footer>
      {% endblock %}
    </div>
    {% include 'new/_menu.html' %}
  </div>

  <script>
    var DELIVERY_SELF = '{{ Delivery.SELF.value }}';
    var DELIVERY_COURIER = '{{ Delivery.COURIER.value }}';
    var PAYMENT_CASH = '{{ Payment.CASH.value }}';
    var PAYMENT_CARD = '{{ Payment.CARD.value }}';
  </script>
<script src="{% static 'js/scripts.min.js' %}"></script> 
{% block js %}
  {% endblock %}

</body>
</html>
