{% extends 'new/menu_base.html' %}
{% load static solo_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <section id="s-contacts" class="s-contacts">
          <div class="container">
            <div class="s-title">
              <hr>
              <h2>Контакты</h2>
              <hr>
            </div>
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
            <div class="row justify-content-center">
              <div class="col-lg-3 col-md-4 order-2 order-md-1">
              <div class="contact-item">
                <h5 class="contact-item__title">Контактный email</h5>
                <a href="mailto:{{ config.contact_email }}" class="contact-item__link">{{ config.contact_email }}</a>
              </div>
              </div>
              <div class="col-lg-3 col-md-4 order-1 order-md-2">
              <div class="contact-item">
                <h5 class="contact-item__title">Служба поддержки</h5>
                <a href="tel:{{ config.phone_raw }}" class="contact-item__link">{{ config.phone_formatted }}</a>
                <small>Будние дни {{ config.work_time }}</small>
              </div>
              </div>
              <div class="col-lg-3 col-md-4 order-3 order-md-3">
              <div class="contact-item">
                <h5 class="contact-item__title">Служба поддержки</h5>
                <span class="contact-item__work">{{ config.work_support_weekday }}</span>
                <span class="contact-item__work">{{ config.work_support_weekend }}</span>
              </div>
              </div>
            </div>
            <div class="contact-form">
              <form class="row justify-content-center" action="{% url 'contacts' %}" method="post">{% csrf_token %}
                <div class="col-10 d-flex justify-content-center">
                  <h4 class="contact-form__title">Напишите нам</h4>
                </div>
                <div class="col-md-5">
                  <div class="contact-form__group">
                  <input type="text" class="contact-form__control" placeholder="Ваше имя" name="full_name" required>
                  </div>
                  <div class="contact-form__group">
                  <input type="text" class="contact-form__control" placeholder="Ваш телефон" name="phone" required>
                  </div>
                  <div class="contact-form__group">
                  <input type="email" class="contact-form__control" placeholder="Ваш email" name="email" required>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="contact-form__group">
                  <textarea class="contact-form__control" placeholder="Текс сообщения" name="message" required></textarea>
                  </div>
                  <div class="contact-form__group">
                  <i class="fas fa-link"></i>
                  <input id="add-file" type="file" class="contact-form__control" name="document">
                  <label for="add-file">Прикрепить документ</label>
                  </div>
                </div>
                <div class="col-10 d-flex justify-content-center">
                  <button type="submit" class="btn contact-form__btn">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section id="map" class="s-map" style="height: 500px;"></section>
      </div>
      <div class="col-xl-3 d-xl-block d-lg-none">
        <div class="fix-cart">

        </div>
      </div>
    </div>
  </div>
  <a href="#s-contacts" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}

{% block js %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=babad61d-3cc3-4040-9c17-05d0b1ab0c60" type="text/javascript"></script>
  <script>
    ymaps.ready(function () {

      var imgSizes = [160, 215];

      if (window.innerWidth < 576) {
      imgSizes = [80, 110];
      }

    var myMap = new ymaps.Map('map', {
      center: [55.751574, 37.573856],
      zoom: 15,
      controls: []
      }),

      myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
        hintContent: 'КишМиш'
      }, {
        iconLayout: 'default#image',
        iconImageHref: 'img/marker-map.png',
        iconImageSize: imgSizes,
        iconImageOffset: [-5, -38]
      })

      myMap.geoObjects.add(myPlacemark);
      myMap.behaviors.disable('scrollZoom');
    });
  </script>
  <style>
    [class*="ymaps-2"][class*="-ground-pane"] {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
    }
  </style>
{% endblock %}
