{% extends 'new/menu_base.html' %}
{% load static pytils_translit columns solo_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <section class="s-group-map">
          <div class="s-title">
            <hr>
            <h2>Доставка&nbsp;и&nbsp;оплата</h2>
            <hr>
          </div>
          <div class="s-group-map__map">
            <img src="{% static 'img/map.jpg' %}" alt="Group Map">
        </section>
        <section class="s-map-services">
          <div class="tabs">
            <ul class="tabs__nav row d-none d-md-flex">
              <li class="col-md-3 col-6"><a href="#free-shipping"><i class="icon-shipped"></i><span>Бесплатная доставка</span></a></li>
              <li class="col-md-3 col-6"><a href="#payment"><i class="icon-wallet"></i><span>Оплата</span></a></li>
              <li class="col-md-3 col-6"><a href="#packaging"><i class="icon-archive"></i><span>Упаковка</span></a></li>
              <li class="col-md-3 col-6"><a href="#speed"><i class="icon-timer"></i><span>Скорость</span></a></li>
            </ul>
            <div class="tabs__container">
              <ul class="tabs__nav row d-md-none">
                <li class="col-md-3 col-6"><a href="#free-shipping"><i class="icon-shipped"></i><span>Бесплатная доставка</span></a></li>
                <li class="col-md-3 col-6"><a href="#payment"><i class="icon-wallet"></i><span>Оплата</span></a></li>
              </ul>
              <div id="free-shipping" class="tabs__content">
                <div class="row">
                  {% for col in areas|columns:2 %}
                    <div class="col-md-6">
                      {% for area in col %}
                      <div class="delivery-item">
                        <div class="delivery-item__head">
                          <h4 class="delivery-item__title">{{ area.name }}</h4>
                          <span class="delivery-item__status">{{ area.price }}</span>
                        </div>
                        <p class="delivery-item__desc">
                          {{ area.description }}
                        </p>
                      </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div id="payment" class="tabs__content">
                {{ config.price }}
              </div>
              <ul class="tabs__nav row d-md-none">
                <li class="col-md-3 col-6"><a href="#packaging"><i class="icon-archive"></i><span>Упаковка</span></a></li>
                <li class="col-md-3 col-6"><a href="#speed"><i class="icon-timer"></i><span>Скорость</span></a></li>
              </ul>
              <div id="packaging" class="tabs__content">
                {{ config.packaging }}
              </div>
              <div id="speed" class="tabs__content">
                {{ config.speed }}
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-xl-3 d-xl-block d-lg-none">
        <div class="fix-cart">

        </div>
      </div>
    </div>
  </div>

  <a href="#content" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}