{% extends 'new/menu_base.html' %}
{% load static pytils_translit columns solo_tags cart_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <section class="s-dish">
          <div id="dish-popup">
            <div class="dish">
              <div class="dish__control">
                <a href="{% url 'product_list' %}#{{ product.category|translify }}"><< <span>{{ product }}</span></a>
                <a href="{% url 'product_list' %}#{{ product.category|translify }}" class="dish__close"><i class="fas fa-times"></i></a>
              </div>
              <div class="dish__head">
                <img src="{{ product.image.url }}" alt="Dish">
                <div class="dish__main-info">
                  <h2 class="dish__name">{{ product }}</h2>
                  <span class="dish__weight">{{ product.weight }} гр.</span>
                  <div class="dish__count">
                    <span class="dish__price">{{ product.price|floatformat:0 }}&nbsp;р</span>
                    <div class="number-input">
                      <button type="button" class="quantity-down"></button>
                      <input class="quantity" min="0" name="quantity" value="{% current_count product %}" type="number" data-id="{{ product.pk }}">
                      <button type="button" class="quantity-up plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dish__mobile-info d-md-none">
                <ul class="dish-composition-list">
                  <li class="dish-composition-item">
                    <span>{{ product.calorie }}</span><span>ккал</span>
                  </li>
                  <li class="dish-composition-item">
                    <span>{{ product.protein }}</span><span>белки</span>
                  </li>
                  <li class="dish-composition-item">
                    <span>{{ product.carbohydrate }}</span><span>углеводы</span>
                  </li>
                  <li class="dish-composition-item">
                    <span>{{ product.fat }}</span><span>жиры</span>
                  </li>
                </ul>
              </div>
              <div class="dish__content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="dish-composition">
                      <h4 class="dish-composition__title">Состав:</h4>
                      <p class="dish-composition__desc">{{ product.composition }}</p>
                      <ul class="dish-composition-list d-none d-md-flex">
                        <li class="dish-composition-item">
                          <span>{{ product.calorie }}</span><span>ккал</span>
                        </li>
                        <li class="dish-composition-item">
                          <span>{{ product.protein }}</span><span>белки</span>
                        </li>
                        <li class="dish-composition-item">
                          <span>{{ product.carbohydrate }}</span><span>углеводы</span>
                        </li>
                        <li class="dish-composition-item">
                          <span>{{ product.fat }}</span><span>жиры</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="dish-traditions">
                      <h4 class="dish-traditions__title">Традиция блюда:</h4>
                      <p class="dish-traditions__desc">{{ product.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="dish__footer">-->
<!--                <button class="btn dish__btn" data-id="{{ product.pk }}">-->
<!--                  <span>В корзину</span>-->
<!--                  <span>{{ product.price|floatformat:0 }} р</span>-->
<!--                </button>-->
<!--              </div>-->
            </div>
            {% if related_products %}
              <div class="dish-recom-block">
                <div class="s-title">
                  <hr>
                  <h2>Рекомендации к блюду</h2>
                  <hr>
                </div>
                <div class="dish-recom-grid">
                  <div class="row">
                    {% for rel_product in related_products %}
                    <div class="col-6">
                      <div class="dish-recom">
                        <div class="dish-recom__img">
                          <img src="{{ rel_product.image_small.url }}" alt="{{ rel_product }}">
                        </div>
                        <div class="dish-recom__body">
                          <div class="dish-recom__head">
                            <h2 class="dish-recom__name">{{ rel_product }}</h2>
                            <span class="dish-recom__weight">{{ rel_product.weight }} гр.</span>
                          </div>
                          <p class="dish-recom__desc">{{ rel_product.description }}</p>
                          <div class="dish-recom__footer">
                            <div class="dish-recom__count">
                              <span class="dish-recom__price">{{ rel_product.price }}&nbsp;р</span>
                              <div class="number-input">
                                <button type="button" class="quantity-down"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button type="button" class="quantity-up plus"></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </section>
      </div>
      <div class="col-xl-3 d-xl-block d-lg-none">
        <div class="fix-cart"></div>
      </div>
    </div>
  </div>

  <a href="#content" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}