{% extends 'new/base.html' %}
{% load static pytils_translit solo_tags cart_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <section id="s-home" class="s-home">
    <div id="home-carousel" class="home-carousel owl-carousel owl-theme">
      {% for banner in main_banners %}
      <div class="home-carousel__item" style="background-image: url({{ banner.banner.url }});">
        <div class="container">
          <div class="row">
            <div class="col home-carousel__content">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="home-carousel__logo">
                <h2 class="home-carousel__title">Сочетание пряного и острого</h2>
                <p class="home-carousel__desc">Традиционные рецепты основанные на столениях восточой кухни удивят каждого, ароматными, сочными, нежными, вкусными, к тому же, диетическими блюдами, что сейчас достаточно актуально.</p>
                <button onclick="window.location.href='{% url 'product_list' %}'" class="btn home-carousel__btn d-none d-sm-block">Заказать сейчас</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button onclick="window.location.href='{% url 'product_list' %}'" class="btn btn__order-mobile d-sm-none">Заказать сейчас</button>
  </section>

  <section class="s-menu-category">
    <div class="container">
      <div class="row justify-content-center">
        {% for category in categories %}
          <div class="col-sm-6 col-md-4 col-xl-3 col-6">
            <a class="menu-cat" href="{% url 'product_list' %}#{{ category.title|translify }}">
              <div class="menu-cat__img">
                <img class="img-responsive img-width" src="{{ category.image.url }}" alt="{{ category.title }}">
                <img class="menu-cat__icon" src="{{ category.subimage.url }}">
              </div>
              <span class="menu-cat__name">{{ category.title }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="s-delivery">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="s-delivery__title"><span>Доставка</span> по новосибирску</h2>
          <h4 class="s-delivery__sub-title">Мы привозим только горячие блюда, если вам привезли блюдо холодным, возвращаем половину или всю стоимость. <a href="{% url 'delivery' %}">Подробнее >></a> </h4>
        </div>
      </div>
    </div>
    <img class="s-delivery__img" src="{% static 'img/bg-delivery.png' %}" alt="">
    <div class="s-delivery__content">
      <div class="s-delivery__work-time">
        <span>Время работы:</span>
        <span>Каждый день:</span>
        <span>{{ config.work_time }}</span>
      </div>
      <div class="s-delivery__free-shipping">
        <span><b>Бесплатная доставка</b></span>
        <span>(минимальный заказ — 500&nbsp;руб.)</span>
        <span><b>Привозим в среднем за 45 минут</b></span>
        <span><b>Всегда есть сдача!</b></span>
      </div>
    </div>
  </section>

  <section class="s-services">
    <div class="container">
      <div class="row d-none d-md-flex">
        <div class="col-md-4 col-sm-6">
          <div class="service">
            <div class="service__icon"><img src="{% static 'img/services-icon/service_icon_1.png' %}" alt="Качество"></div>
            <h5 class="service__name">Качество</h5>
            <p class="service__desc">{{ config.index_header1 }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service">
            <div class="service__icon"><img src="{% static 'img/services-icon/service_icon_2.png' %}" alt="Традиции"></div>
            <h5 class="service__name">Традиции</h5>
            <p class="service__desc">{{ config.index_header2 }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service">
            <div class="service__icon"><img src="{% static 'img/services-icon/service_icon_3.png' %}" alt="Приготовление"></div>
            <h5 class="service__name">Приготовление</h5>
            <p class="service__desc">{{ config.index_header3 }}</p>
          </div>
        </div>
      </div>
      <hr class="d-none d-md-block">
      <div class="row">
        <div class="col-md-5">
          <ul class="service-list">
            <li class="service-item">{{ config.index_header4 }}</li>
            <li class="service-item">{{ config.index_header5 }}</li>
            <li class="service-item">{{ config.index_header6 }}</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="service-list">
            <li class="service-item">{{ config.index_header7 }}</li>
            <li class="service-item">{{ config.index_header8 }}</li>
            <li class="service-item">{{ config.index_header9 }}</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="service-list">
            <li class="service-item">{{ config.index_header10 }}</li>
            <li class="service-item">{{ config.index_header11 }}</li>
            <li class="service-item">{{ config.index_header12 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% if products %}
    <section class="s-popular-dishes">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="s-popular-dishes__title">{{ config.index_header13 }}</h2>
            <h4 class="s-popular-dishes__sub-title">{{ config.index_header14 }}</h4>
          </div>
          <div class="row">
            {% for product in products %}
              <div class="col-md-3 col-sm-6 pb-3 pb-md-0">
                <div class="popular-dishes">
                  <a href="{% url 'product_list' %}#{{ product.category.title|translify }}" class="popular-dishes">
                    <img class="popular-dishes__img img-responsive" src="{{ product.image_small.url }}" alt="{{ prduct.title }}">
                    <h5 class="popular-dishes__name">{{ product.title }}</h5>
                    <div class="popular-dishes__count">
                      <div class="number-input">
                        <button class="quantity-down"></button>
                        <input class="quantity" min="0" name="quantity" value="{% current_count product %}" type="number" data-id="{{ product.pk }}">
                        <button class="quantity-up plus"></button>
                      </div>
                      <span class="popular-dishes__price">{{ product.sale_price|default:product.price }} р</span>
                    </div>
                    <p class="popular-dishes__desc">{{ product.description }}</p>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a href="{% url 'product_list' %}" class="btn">В меню</a>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="s-photos">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="s-photos__title"><i class="fab fa-instagram"></i>Киш-Миш post <a href="#">#кишмишми</a></h2>
          <h4 class="s-photos__sub-title">в фотографиях наших клиентов</h4>
        </div>
        <div class="col-12">
          <div class="photo-grid">
            {% for instagramm in instagramms %}
            <a href="{{ instagramm.url }}" class="photo-grid__item"><img src="{{ instagramm.photo.url }}" alt="{{ instagramm.title }}" class="photo-grid__img"></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="s-reviews">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="s-reviews__title" id="comments">Последние Отзывы наших клиентов:</h2>
        </div>
        <div class="col-12">
          <div id="reviews-carousel" class="reviews-carousel owl-carousel owl-theme">
            {% for comment in comments %}
              <div class="review-block">
                <div class="review-block__img"><img src="{{ comment.photo.url }}" alt="{{ comment.name }}"></div>
                <div class="review-block__body">
                  <p class="review-block__desc">{{ comment.text }}</p>
                  <div class="review-block__meta">
                    <span class="review-block__name">{{ comment.name }},&nbsp;</span>
                    <span class="review-block__status">{{ comment.profession }}</span>
                    <a href="{{ comment.url }}" class="review-block__icon"><i class="fab fa-vk"></i></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="s-online d-none d-md-block" style="background-image: url({% static 'img/s-online.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="s-online__title">Будьте с нами онлайн:</h2>
          <ul class="feedback-icons">
            <li class="feedback-icons__item"><a href="{{ config.fb }}" class="feedback-icons__link feedback-icons__link--facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="feedback-icons__item"><a href="{{ config.vk }}" class="feedback-icons__link feedback-icons__link--vk"><i class="fab fa-vk"></i></a></li>
            <li class="feedback-icons__item"><a href="{{ config.instagramm }}" class="feedback-icons__link feedback-icons__link--instagram"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <a href="#s-home" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}
{% block footer %}
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-12 align-self-center d-none d-md-block">
          <a href="#"><img class="main-footer__logo" src="{% static 'img/logo.png' %}" alt="КишМиш"></a>
        </div>
        <div class="col-xl-2 col-md-4">
          <ul class="footer-nav">
            <li class="footer-nav__item"><a href="{% url 'about' %}" class="footer-nav__link">О нас</a></li>
            <li class="footer-nav__item"><a href="{% url 'actions' %}" class="footer-nav__link">Акции</a></li>
            <li class="footer-nav__item"><a href="{% url 'delivery' %}" class="footer-nav__link">Доставка</a></li>
            <li class="footer-nav__item"><a href="{% url 'home' %}#comments" class="footer-nav__link">Отзывы</a></li>
            <li class="footer-nav__item"><a href="{% url 'contacts' %}" class="footer-nav__link">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-4 d-none d-md-block">
          <ul class="footer-menu">
            <li class="footer-menu__item">Меню:</li>
            {% for category in categories %}
              <li class="footer-menu__item"><a href="{% url 'product_list' %}#{{ category.title|translify }}" class="footer-menu__link">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xl-4 col-md-4">
          <span>Служба доставки:</span>
          <a href="tel:{{ config.phone_raw }}" class="btn">{{ config.phone_formatted }}</a>
          <span class="main-footer__work">Режим работы: {{ config.work_time }}</span>

          <ul class="feedback-icons d-sm-none">
            <li class="feedback-icons__item"><a href="{{ config.fb }}" class="feedback-icons__link feedback-icons__link--facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="feedback-icons__item"><a href="{{ config.vk }}" class="feedback-icons__link feedback-icons__link--vk"><i class="fab fa-vk"></i></a></li>
            <li class="feedback-icons__item"><a href="{{ config.instagramm }}" class="feedback-icons__link feedback-icons__link--instagram"><i class="fab fa-instagram"></i></a></li>
          </ul>

          <span class="main-footer__copyright">{{ config.copyright|safe }}</span>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
