{% extends 'new/menu_base.html' %}
{% load static pytils_translit cart_tags %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <div class="product-inner__list">
          <section id="s-menu" class="s-menu">
            <div class="s-title">
              <h2>Меню:</h2>
            </div>
            <ul class="menu-list">
              {% for category in categories %}
                <li class="menu-item"><a href="#{{ category.title|translify }}" class="menu-item__link __mPS2id _mPS2id-h mPS2id-clicked" rel="m_PageScroll2id" data-ps2id-offset="120">
                  <span class="menu-item__icon"></span>{{ category.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
          {% for category in categories %}
            <section id="{{ category.title|translify }}" class="s-products">
              <div class="s-title">
                <hr>
                <h2>{{ category.title }}</h2>
                <hr>
              </div>
              <div class="row">
                {% for product in category.product_set.all %}
                  <div class="col-6 col-md-4 col-sm-6">
                    <a onclick=" $('html, body').animate({scrollTop: 0},0);"  class="popular-dishes" data-dish-id="dish-popup-{{ product.pk }}">
                      <img class="popular-dishes__img img-responsive" src="{{ product.image_small.url }}" alt="Плов куриный">
                      <h5 class="popular-dishes__name">{{ product.title }}</h5>
                      <div class="popular-dishes__count">
                        <div class="number-input">
                          <button class="quantity-down"></button>
                          <input class="quantity" min="0" name="quantity" value="{% current_count product %}" type="number" data-id="{{ product.pk }}">
                          <button class="quantity-up plus"></button>
                        </div>
                        <span class="popular-dishes__price">{{ product.price|floatformat:0 }} р</span>
                      </div>
                      <p class="popular-dishes__desc">{{ product.description }}</p>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </section>
          {% endfor %}
        </div>
        {% for category in categories %}
          {% for product in category.product_set.all %}
            <div id="dish-popup-{{ product.pk }}" class="dish-popup">
              <div class="dish">
                <div class="dish__control">
                  <a href="{% url 'product_list' %}#{{ product.category|translify }}" class="dish__close__with__name"><< <span>{{ product }}</span></a>
                  <a href="{% url 'product_list' %}#{{ product.category|translify }}" class="dish__close"><i class="fas fa-times"></i></a>
                </div>
                <div class="dish__head">
                  <img src="{{ product.image.url }}" alt="Dish">
                  <div class="dish__main-info">
                    <h2 class="dish__name">{{ product }}</h2>
                    <span class="dish__weight">{{ product.weight }} гр.</span>
                    <div class="dish__count">
                      <span class="dish__price">{{ product.price|floatformat:0 }}&nbsp;р</span>
                      <div class="number-input">
                        <button type="button" class="quantity-down"></button>
                        <input class="quantity" min="0" name="quantity" value="{% current_count product %}" type="number" data-id="{{ product.pk }}">
                        <button type="button" class="quantity-up plus"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dish__mobile-info d-md-none">
                  <ul class="dish-composition-list">
                    <li class="dish-composition-item">
                      <span>{{ product.calorie }}</span><span>ккал</span>
                    </li>
                    <li class="dish-composition-item">
                      <span>{{ product.protein }}</span><span>белки</span>
                    </li>
                    <li class="dish-composition-item">
                      <span>{{ product.carbohydrate }}</span><span>углеводы</span>
                    </li>
                    <li class="dish-composition-item">
                      <span>{{ product.fat }}</span><span>жиры</span>
                    </li>
                  </ul>
                </div>
                <div class="dish__content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="dish-composition">
                        <h4 class="dish-composition__title">Состав:</h4>
                        <p class="dish-composition__desc">{{ product.composition }}</p>
                        <ul class="dish-composition-list d-none d-md-flex">
                          <li class="dish-composition-item">
                            <span>{{ product.calorie }}</span><span>ккал</span>
                          </li>
                          <li class="dish-composition-item">
                            <span>{{ product.protein }}</span><span>белки</span>
                          </li>
                          <li class="dish-composition-item">
                            <span>{{ product.carbohydrate }}</span><span>углеводы</span>
                          </li>
                          <li class="dish-composition-item">
                            <span>{{ product.fat }}</span><span>жиры</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="dish-traditions">
                        <h4 class="dish-traditions__title">Традиция блюда:</h4>
                        <p class="dish-traditions__desc">{{ product.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
  <!--              <div class="dish__footer">-->
  <!--                <button class="btn dish__btn" data-id="{{ product.pk }}">-->
  <!--                  <span>В корзину</span>-->
  <!--                  <span>{{ product.price|floatformat:0 }} р</span>-->
  <!--                </button>-->
  <!--              </div>-->
              </div>
              {% if product.recomendations.all %}
                <div class="dish-recom-block">
                  <div class="s-title">
                    <hr>
                    <h2>Рекомендации к блюду</h2>
                    <hr>
                  </div>
                  <div class="dish-recom-grid">
                    <div class="row">
                      {% for rel_product in product.recomendations.all %}
                      <div class="col-6">
                        <a onclick=" $('html, body').animate({scrollTop: 0},0);"  class="popular-dishes" data-dish-id="dish-popup-{{ rel_product.pk }}">
                          <div class="dish-recom">
                            <div class="dish-recom__img">
                              <img src="{{ rel_product.image_small.url }}" alt="{{ rel_product }}">
                            </div>
                            <div class="dish-recom__body">
                              <div class="dish-recom__head">
                                <h2 class="dish-recom__name">{{ rel_product }}</h2>
                                <span class="dish-recom__weight">{{ rel_product.weight }} гр.</span>
                              </div>
                              <p class="dish-recom__desc">{{ rel_product.description }}</p>
                              <div class="dish-recom__footer">
                                <div class="dish-recom__count">
                                  <span class="dish-recom__price">{{ rel_product.price }}&nbsp;р</span>
                                  <div class="number-input">
                                    <button type="button" class="quantity-down"></button>
                                    <input class="quantity" min="0" name="quantity" value="{% current_count rel_product %}" type="number" data-id="{{ rel_product.pk }}">
                                    <button type="button" class="quantity-up plus"></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="col-xl-3 d-xl-block d-lg-none">
        <div id="fix-cart" class="fix-cart">

        </div>
      </div>
    </div>
  </div>

  <a href="#content" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}
