{% extends 'new/base.html' %}

{% load static pytils_translit solo_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block body_class %}menu-page fixed-cart{% endblock %}

{% block header %}
<header id="top-header" class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12 top-header__content">
        <div class="dropdown dropdown-top-nav">
          <button class="top-nav-btn dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fas fa-bars"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'home' %}">На главную</a>
            <a class="dropdown-item{# active #}" href="{% url 'product_list' %}">Меню</a>
            <a class="dropdown-item" href="{% url 'actions' %}">Акции</a>
            <a class="dropdown-item" href="{% url 'delivery' %}">Доставка и оплата</a>
            <a class="dropdown-item" href="{% url 'home' %}#comments">Отзывы</a>
            <a class="dropdown-item{# active #}" href="{% url 'about' %}">О нас</a>
            <a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a>
          </div>
        </div>
        <div class="top-logo d-md-block">
          <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="top-info">
          <div class="top-info__work">
            <span>Режим<br>работы:<i class="far fa-clock"></i></span>
            <span>{{ config.work_time }}</span>
          </div>
          <a href="tel:{{ config.phone_raw }}" class="btn top-info__btn">
            <span class="d-none d-sm-block">{{ config.phone_formatted }}</span>
            <img class="d-sm-none" src="{% static 'img/top-phone.png' %}" alt="">
          </a>
          <a href="#menu" class="cart-toggle d-none d-sm-flex d-xl-none active not-empty">
              <img src="{% static 'img/shopping-cart-white.svg' %}" alt="Shopping cart">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
