<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Новый заказ с сайта</title>
</head>
<body>
<h1>Новый заказ с сайта</h1>
<p>ФИО: {{ order.name }}</p>
<p>Тел.: {{ order.phone }}</p>
<p>Способ самовывоза: {{ order.get_delivery_display }}
  {% if order.delivery == order.Delivery.SELF %}
    ({{ order.pikup_point }})
  {% else %}
  ({{ order.street }}, д. {{ order.house }}, кв {{ order.apartment }})
  {% endif %}</p>
<p>Способы оплаты: {{ order.get_payment_display }} {% if order.payment == order.Payment.CASH and order.money %}необходима сдача с суммы {{ order.money }}{% endif %}</p>
<p>Количество человек: {{ order.count }}</p>
<table>
  <tr>
    <th>Продукт</th>
    <th>Цена за еденицу</th>
    <th>Вес за еденицу</th>
    <th>Количество</th>
    <th>Цена</th>
    <th>Вес</th>
  </tr>
  <tr>
    {% for product in order.orderproduct_set.all %}
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.weight }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.full_price }}</td>
      <td>{{ product.full_weight }}</td>
    {% endfor %}
  </tr>
</table>
</body>
</html>