{% extends 'new/menu_base.html' %}
{% load static pytils_translit columns solo_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12">
        <section id="s-stock" class="s-stock">
          <div class="container">
            <div class="s-title">
              <hr>
              <h2>Акции</h2>
              <hr>
            </div>
            <div class="stock-grid">
              {% for action in actions %}
                <div class="stock-item">
                  <div class="stock-item__img"><img src="{{ action.image.url }}" alt="{{ action.name }}"></div>
                  <div class="stock__body">
                    <h3 class="stock-item__title">{{ action.name }}</h3>
                    <p class="stock-item__desc">{{ action.description }}</p>
                    {{ action.content|linebreaks }}
                    <span class="stock-item__date">Акция действует до {{ action.expired|date:"d.m.Y" }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
              <a href="{% url 'product_list' %}" class="btn">Перейти в меню</a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-xl-3 d-xl-block d-lg-none">
        <div class="fix-cart">

        </div>
      </div>
    </div>
  </div>

  <a href="#s-stock" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}