{% extends 'new/base.html' %}
{% load static solo_tags %}

{% get_solo 'newsletter.Config' as config %}

{% block content %}
  <section id="s-thank-preview" class="s-thank-preview">
      <div class="thank-preview__item" style="background-image: url({% static 'img/bg-thank.jpg' %});">
        <div class="container">
          <div class="thank-preview__content">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="thank-preview__logo">
            <h2 class="thank-preview__title">спасибо вам за ваш заказ</h2>
            <p class="thank-preview__desc">наш оператор Вам перезвонит через<br>несколько минут!</p>
            <ul class="feedback-icons">
              <li class="feedback-icons__item"><a href="{{ config.fb }}" class="feedback-icons__link feedback-icons__link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="feedback-icons__item"><a href="{{ config.vk }}" class="feedback-icons__link feedback-icons__link"><i class="fab fa-vk"></i></a></li>
              <li class="feedback-icons__item"><a href="{{ config.instagramm }}" class="feedback-icons__link feedback-icons__link"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  </section>

<a href="#s-thank-preview" class="arrow-up d-none d-md-flex" rel='m_PageScroll2id'><i class="fas fa-arrow-up"></i></a>
{% endblock %}